<form action="" [formGroup]="programForm">
    <input type="text" id="course_name" placeholder="Enter the course name" formControlName="course_name">
    <label for="course_name"></label><br>
    <div *ngFor="let tech of techs">
        <input type="checkbox" id="{{tech._id}}" [value]="tech._id" (change)="onCheckboxChange($event)">
        <label for="{{tech._id}}">{{tech.name}}</label><br>
    </div>
    <label for="staff">Choose the staff</label><br>
    <select name="staff" id="staff" formControlName="staff_id">
        <option value="" selected hidden disabled></option>
        <option *ngFor="let batch of batches" value="{{batch._id}}">{{batch.batch_name}}</option>
    </select><br>
    <label for="batch">Choose the batch</label><br>
    <select name="batch" id="batch" formControlName="batch_id">
        <option value="Choose the Batch" selected hidden disabled></option>
        <option *ngFor="let batch of batches" value="{{batch._id}}">{{batch.batch_name}}</option>
    </select><br>
    <button type="submit" (click)="submit()">Submit</button>
</form>



<!-- <button (click)="gettech()">Click</button> -->