<div class="aboutus">
    <div class="for-aari">
    <div class="for-image"> 
    </div>
    <div class="for-name">
        Aaari Institute
    </div>
    
    <div class="for-bio">Unleashing Excellence in Teaching with Experienced Staff - Transforming<br>
        Students into Software Engineering Wizards!</div>
    </div>
    <div class="for-aari2">
        <div class="for-mission">Our Mission</div>
        <div class="for-info">At Aari institute, we redfine excellence in teaching by empowering students<br>to conquer the world of software engineering.<br><br>Our experienced staff are not just teachers; they are mentors who guide students<br>towards becoming industry-ready professionals.<br><br>Join us on this journey of transformation, where we guarantee to turn you into a<br>experienced software engineer by provding a realtime projects.
        </div>
        <div class="ourvision-image"></div>
    </div>
    <div class="for-aari3">
        <div class="for-empower">Empower X<br>Edge</div>
        <div class="empowerbio">Unlock Your Potential with Our<br>Student-Centric Approach</div>
        <div class="empowerinfo-box"><ul>
                                        <li>Immersive Learning Environment for Rapid Skill Development</li><br>
                                         <li>Hands-On Projects to Master Real-World Challenges</li><br>
                                         <li>Personalized Mentorship for Tailored Growth</li><br>
                                         <li>Cutting-Edge Curriculum Designed for Industry Success</li><br>
                                         <li>Carrer Placement Support to Launch Your Future</li><br>
                                         </ul>

        </div>
    </div>
    <div class="for-aari4">
        <div class="for-text"><marquee>* Unleashing Creativity Through Innovative Education * Designing Futures with Excellence</marquee></div>
    </div>
    <div class="for-aari5">
        <div class="for-success">Success Stories</div>
        <div class="for-success-img">
        <div class="success-image1"></div>
        <div class="success-image2"></div>
        </div>
        <div class="success-text">Transformed my life! I never thought learning could be this exciting. Thank you for the amazing journey</div>
    </div>
</div>
