<div class="home">
  <div class="home1">
    <div class="contact"><h1>Contact us</h1>
     <div class="name">
   <input type="text" name="" id="Sname" placeholder="Name">
   <input type="email" name="" id="email" placeholder="Email">
   <input type="text" name="" id="message" placeholder="Message">
     </div>
     <div class="send">
        <button type="button" class="btn btn-success">Send Message</button>
    </div>
     
  </div>
  <div class="img"></div>
</div>

<div class="for-contact-card">
  <div class="call"></div>
   <div class="mail"></div>
   <div class="whatsapp"></div>
   <div class="insta"></div>
   <div class="twitter"></div>
</div>
</div>
