<div>
    <form (ngSubmit)="getBatch(batch.value)">
        <h3>View Student Course</h3>
        <select class="form-select" aria-label="Default select example" #batch>
            <option value="" selected hidden>Select Course</option>
            <option value="0">All</option>
            <option value="1">Java</option>
            <option value="2">Python</option>
            <option value="3">HTML & CSS</option>
            <option value="4">Angular</option>
            <option value="5">Node.js</option>
            <option value="6">Express</option>
            <option value="7">MongoDB</option>
            <option value="8">SQL</option>
            <option value="9">JavaScript</option>
            <option value="10">TypeScript</option>

        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="points-1">
        <ul>
            <li class="onit">Java</li>
            <ul class="onit-ul">
                <li>Variables</li>
                <li>Operators</li>
                <li>Control Structures</li>
                <li>Functions</li>
                <li>Arrays</li>
                <li>Strings</li>
                <li>OOPs Concept</li>
            </ul>
        </ul>
    </div>
    <div class="points-2">
        <ul>
            <li class="onit">Python</li>
            <ul class="onit-ul">
                <li>Variables</li>
                <li>Operators</li>
                <li>Control Structures</li>
                <li>Functions</li>
                <li>Arrays</li>
                <li>Strings</li>
                <li>Data Structures and Algorithms</li>
            </ul>
        </ul>
    </div>
    <div class="points-3">
        <ul>
            <li class="onit">HTML</li>
            <ul class="onit-ul">
                <li>HTML Basic</li>
                <li>HTML Elements</li>
                <li>HTML Attributes</li>
                <li>HTML Styles</li>
                <li>HTML Forms</li>
                <li>HTML Tables</li>
            </ul>
            <li class="onit">CSS</li>
            <ul class="onit-ul">
                <li>CSS Basic</li>
                <li>CSS Advanced</li>
                <li>CSS Responsive</li>
                <li>CSS Grid</li>
            </ul>
        </ul>
    </div>
    <div class="points-4">
        <ul>
            <li class="onit">Angular</li>
            <ul class="onit-ul">
                <li>Angular Basics</li>
                <li>Angular Components</li>
                <li>Angular Directives</li>
                <li>Angular Pipes</li>
                <li>Angular Forms</li>
            </ul>
        </ul>
    </div>
    <div class="points-5">
        <ul>
            <li class="onit">Node.js</li>
            <ul class="onit-ul">
                <li>Node.js Basics</li>
                <li>Node.js Modules</li>
                <li>Node.js Express</li>
                <li>Node.js MongoDB</li>
                <li>Node.js MySQL</li>
            </ul>
        </ul>
    </div>
    <div class="points-6">
        <ul>
            <li class="onit">Express</li>
            <ul class="onit-ul">
                <li>Express Basics</li>
                <li>Express Middleware</li>
                <li>Express Routing</li>
                <li>Express Views</li>
                <li>Express Templating</li>
            </ul>
        </ul>
    </div>
    <div class="points-7">
        <ul>
            <li class="onit">MongoDB</li>
            <ul class="onit-ul">
                <li>MongoDB Basics</li>
                <li>MongoDB Schema</li>
                <li>MongoDB Query</li>
                <li>MongoDB Aggregation</li>
                <li>MongoDB Index</li>
            </ul>
        </ul>
    </div>
    <div class="points-8">
        <ul>
            <li class="onit">SQL</li>
            <ul class="onit-ul">
                <li>SQL Basics</li>
                <li>SQL Query</li>
                <li>SQL Joins</li>
                <li>SQL Subquery</li>
                <li>SQL Index</li>
            </ul>
        </ul>
    </div>
    <div class="points-9">
            <ul class="onit-ul">
                <li>Java</li>
                <ul class="onit-ul">
                    <li>Variables</li>
                    <li>Operators</li>
                    <li>Control Structures</li>
                    <li>Functions</li>
                    <li>Arrays</li>
                    <li>Strings</li>
                    <li>OOPs Concept</li>
                </ul>   
                <li>Python</li>
                <ul class="onit-ul">
                    <li>Variables</li>
                    <li>Operators</li>
                    <li>Control Structures</li>
                    <li>Functions</li>
                    <li>Arrays</li>
                    <li>Strings</li>
                    <li>Data Structures and Algorithms</li>
                </ul>
                <li>HTML</li>
                <ul class="onit-ul">
                    <li>HTML Basic</li>
                    <li>HTML Elements</li>
                    <li>HTML Attributes</li>
                    <li>HTML Styles</li>
                    <li>HTML Forms</li>
                    <li>HTML Tables</li>
                </ul>
                <li>CSS</li>
                <ul class="onit-ul">
                    <li>CSS Basic</li>
                    <li>CSS Advanced</li>
                    <li>CSS Responsive</li>
                    <li>CSS Grid</li>
                </ul>
                <li>Angular</li>
                <ul class="onit-ul">
                    <li>Angular Basics</li>
                    <li>Angular Components</li>
                    <li>Angular Directives</li>
                    <li>Angular Pipes</li>
                    <li>Angular Forms</li>
                </ul>
                <li>Node.js</li>
                <ul class="onit-ul">
                    <li>Node.js Basics</li>
                    <li>Node.js Modules</li>
                    <li>Node.js Express</li>
                    <li>Node.js MongoDB</li>
                    <li>Node.js MySQL</li>
                </ul>
                <li>Express</li>
                <ul class="onit-ul">
                    <li>Express Basics</li>
                    <li>Express Middleware</li>
                    <li>Express Routing</li>
                    <li>Express Views</li>
                    <li>Express Templating</li>
                </ul>
                <li>MongoDB</li>
                <ul class="onit-ul">
                    <li>MongoDB Basics</li>
                    <li>MongoDB Schema</li>
                    <li>MongoDB Query</li>
                    <li>MongoDB Aggregation</li>
                    <li>MongoDB Index</li>
                </ul>
                <li>SQL</li>
                <ul class="onit-ul">
                    <li>SQL Basics</li>
                    <li>SQL Query</li>
                    <li>SQL Joins</li>
                    <li>SQL Subquery</li>
                    <li>SQL Index</li>
                </ul>
            </ul>
    </div>
    <div class="points-10">
        <ul>
            <li class="onit">JavaScript</li>
            <ul class="onit-ul">
                <li>JavaScript Basics</li>
                <li>JavaScript Variables</li>
                <li>JavaScript Operators</li>
                <li>JavaScript Control Structures</li>
                <li>JavaScript Functions</li>
            </ul>
        </ul>
    </div>
    <div class="points-11">
        <ul>
            <li class="onit">TypeScript</li>
            <ul class="onit-ul">
                <li>TypeScript Basics</li>
                <li>TypeScript Variables</li>
                <li>TypeScript Operators</li>
                <li>TypeScript Control Structures</li>
                <li>TypeScript Functions</li>
            </ul>
        </ul>
    </div>
</div>