.points-1{
    display: none;
}
.points-1.show{
    display: block;
}
.points-2{
    display: none;
}
.points-2.show{
    display: block;
}
.points-3{
    display: none;
}
.points-3.show{
    display: block;
}
.onit:hover{
    cursor: pointer;
}
.points-4{
    display: none;
}
.points-4.show{
    display: block;
}
.points-5{
    display: none;
}
.points-5.show{
    display: block;
}
.points-6{
    display: none;
}
.points-6.show{
    display: block;
}
.points-7{
    display: none;
}
.points-7.show{
    display: block;
}
.points-8{
    display: none;
}
.points-8.show{
    display: block;
}
.points-9{
    display: none;
}
.points-9.show{
    display: block;
}
.points-10{
    display: none;
}
.points-10.show{
    display: block;
}
.points-11{
    display: none;
}
.points-11.show{
    display: block;
}