<div class="outer_curve">
    <div class="out_holder">
        <div class="vol">
            <div class="vol_up"></div>
            <div class="vol_down"></div>
        </div>
        <div class="outer_body">
            <div class="cam">
                <div class="mcam"></div>
            </div>
            
            <div class="tab">
                <div class="dupli">
                <div class="tab_content">

                    <!-- first card -->
                    <div class="staff_cont_1">
                        <div class="staff_img1"></div>
                        <div class="staff_data_container">
                            <div class="staff_name_container">
                                <div class="staff_name_holder">
                                    <div class="staff_name1">
                                        JOE
                                    </div>
                                </div>
                            </div> 

                            <hr>

                            <div class="info_box">
                                <div class="profession_container">
                                    <div class="prof">PROFESSION</div>
                                    <div class="experince_container">
                                        <span class="dup1">:</span> Full Stack Developer
                                    </div>
                                </div>
                                
                                <hr>

                                <div class="exp_soc">
                                    <div class="exp_cont">
                                        <div class="experience">EXPERIENCE</div>
                                        <div class="exp_num">
                                            <span class="dup2">:</span> 2 Yrs
                                        </div>
                                    </div>

                                    <div class="vl"></div>

                                    <div class="social_media">
                                        <div class="mail_icon">
                                           <i class="fa-solid fa-envelope"></i>
                                        </div>
                                        <div class="linkedin_icon">
                                           <i class="fa-brands fa-linkedin"></i>
                                        </div>
                                        <div class="insta_icon">
                                           <i class="fa-brands fa-instagram"></i>
                                        </div>
                                        <div class="whatsapp_icon">
                                           <i class="fa-brands fa-whatsapp"></i>
                                        </div>
                                   </div>
                                </div>

                                <hr>

                                <div class="know_more">
                                    <button class="know_more_btn">
                                        Know More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- second card -->

                    <div class="staff_cont_1">
                        <div class="staff_img2"></div>
                        <div class="staff_data_container">
                            <div class="staff_name_container">
                                <div class="staff_name_holder">
                                    <div class="staff_name1">
                                       ALEN
                                    </div>
                                </div>
                            </div> 

                            <hr>

                            <div class="info_box">
                                <div class="profession_container">
                                    <div class="prof">PROFESSION</div>
                                    <div class="experince_container">
                                        <span class="dup1">:</span> Full Stack Developer
                                    </div>
                                </div>
                                
                                <hr>

                                <div class="exp_soc">
                                    <div class="exp_cont">
                                        <div class="experience">EXPERIENCE</div>
                                        <div class="exp_num">
                                            <span class="dup2">:</span> 2 Yrs
                                        </div>
                                    </div>

                                    <div class="vl"></div>

                                    <div class="social_media">
                                         <div class="mail_icon">
                                            <i class="fa-solid fa-envelope"></i>
                                         </div>
                                         <div class="linkedin_icon">
                                            <i class="fa-brands fa-linkedin"></i>
                                         </div>
                                         <div class="insta_icon">
                                            <i class="fa-brands fa-instagram"></i>
                                         </div>
                                         <div class="whatsapp_icon">
                                            <i class="fa-brands fa-whatsapp"></i>
                                         </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="know_more">
                                    <button class="know_more_btn">
                                        Know More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- thrid card -->

                    <div class="staff_cont_1">
                        <div class="staff_img3"></div>
                        <div class="staff_data_container">
                            <div class="staff_name_container">
                                <div class="staff_name_holder">
                                    <div class="staff_name1">
                                        JACK
                                    </div>
                                </div>
                            </div> 

                            <hr>

                            <div class="info_box">
                                <div class="profession_container">
                                    <div class="prof">PROFESSION</div>
                                    <div class="experince_container">
                                        <span class="dup1">:</span> Full Stack Developer
                                    </div>
                                </div>
                                
                                <hr>

                                <div class="exp_soc">
                                    <div class="exp_cont">
                                        <div class="experience">EXPERIENCE</div>
                                        <div class="exp_num">
                                            <span class="dup2">:</span> 2 Yrs
                                        </div>
                                    </div>

                                    <div class="vl"></div>

                                    <div class="social_media">
                                         <div class="mail_icon">
                                            <i class="fa-solid fa-envelope"></i>
                                         </div>
                                         <div class="linkedin_icon">
                                            <i class="fa-brands fa-linkedin"></i>
                                         </div>
                                         <div class="insta_icon">
                                            <i class="fa-brands fa-instagram"></i>
                                         </div>
                                         <div class="whatsapp_icon">
                                            <i class="fa-brands fa-whatsapp"></i>
                                         </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="know_more">
                                    <button class="know_more_btn">
                                        Know More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>






                

                <div class="dupli">
                    <div class="tab_content">
    
                        <!-- first card -->
                        <div class="staff_cont_1">
                            <div class="staff_img1"></div>
                            <div class="staff_data_container">
                                <div class="staff_name_container">
                                    <div class="staff_name_holder">
                                        <div class="staff_name1">
                                            JOE
                                        </div>
                                    </div>
                                </div> 
    
                                <hr>
    
                                <div class="info_box">
                                    <div class="profession_container">
                                        <div class="prof">PROFESSION</div>
                                        <div class="experince_container">
                                            <span class="dup1">:</span> Full Stack Developer
                                        </div>
                                    </div>
                                    
                                    <hr>
    
                                    <div class="exp_soc">
                                        <div class="exp_cont">
                                            <div class="experience">EXPERIENCE</div>
                                            <div class="exp_num">
                                                <span class="dup2">:</span> 2 Yrs
                                            </div>
                                        </div>
    
                                        <div class="vl"></div>
    
                                        <div class="social_media">
                                             <div class="mail_icon">
                                                <i class="fa-solid fa-envelope"></i>
                                             </div>
                                             <div class="linkedin_icon">
                                                <i class="fa-brands fa-linkedin"></i>
                                             </div>
                                             <div class="insta_icon">
                                                <i class="fa-brands fa-instagram"></i>
                                             </div>
                                             <div class="whatsapp_icon">
                                                <i class="fa-brands fa-whatsapp"></i>
                                             </div>
                                        </div>
                                    </div>
    
                                    <hr>
    
                                    <div class="know_more">
                                        <button class="know_more_btn">
                                            Know More
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- second card -->
    
                        <div class="staff_cont_1">
                            <div class="staff_img2"></div>
                            <div class="staff_data_container">
                                <div class="staff_name_container">
                                    <div class="staff_name_holder">
                                        <div class="staff_name1">
                                           ALEN
                                        </div>
                                    </div>
                                </div> 
    
                                <hr>
    
                                <div class="info_box">
                                    <div class="profession_container">
                                        <div class="prof">PROFESSION</div>
                                        <div class="experince_container">
                                            <span class="dup1">:</span> Full Stack Developer
                                        </div>
                                    </div>
                                    
                                    <hr>
    
                                    <div class="exp_soc">
                                        <div class="exp_cont">
                                            <div class="experience">EXPERIENCE</div>
                                            <div class="exp_num">
                                                <span class="dup2">:</span> 2 Yrs
                                            </div>
                                        </div>
    
                                        <div class="vl"></div>
    
                                        <div class="social_media">
                                             <div class="mail_icon">
                                                <i class="fa-solid fa-envelope"></i>
                                             </div>
                                             <div class="linkedin_icon">
                                                <i class="fa-brands fa-linkedin"></i>
                                             </div>
                                             <div class="insta_icon">
                                                <i class="fa-brands fa-instagram"></i>
                                             </div>
                                             <div class="whatsapp_icon">
                                                <i class="fa-brands fa-whatsapp"></i>
                                             </div>
                                        </div>
                                    </div>
    
                                    <hr>
    
                                    <div class="know_more">
                                        <button class="know_more_btn">
                                            Know More
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!-- thrid card -->
    
                        <div class="staff_cont_1">
                            <div class="staff_img3"></div>
                            <div class="staff_data_container">
                                <div class="staff_name_container">
                                    <div class="staff_name_holder">
                                        <div class="staff_name1">
                                            JACK
                                        </div>
                                    </div>
                                </div> 
    
                                <hr>
    
                                <div class="info_box">
                                    <div class="profession_container">
                                        <div class="prof">PROFESSION</div>
                                        <div class="experince_container">
                                            <span class="dup1">:</span> Full Stack Developer
                                        </div>
                                    </div>
                                    
                                    <hr>
    
                                    <div class="exp_soc">
                                        <div class="exp_cont">
                                            <div class="experience">EXPERIENCE</div>
                                            <div class="exp_num">
                                                <span class="dup2">:</span> 2 Yrs
                                            </div>
                                        </div>
    
                                        <div class="vl"></div>
    
                                        <div class="social_media">
                                             <div class="mail_icon">
                                                <i class="fa-solid fa-envelope"></i>
                                             </div>
                                             <div class="linkedin_icon">
                                                <i class="fa-brands fa-linkedin"></i>
                                             </div>
                                             <div class="insta_icon">
                                                <i class="fa-brands fa-instagram"></i>
                                             </div>
                                             <div class="whatsapp_icon">
                                                <i class="fa-brands fa-whatsapp"></i>
                                             </div>
                                        </div>
                                    </div>
    
                                    <hr>
    
                                    <div class="know_more">
                                        <button class="know_more_btn">
                                            Know More
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

            </div>            
            
        </div>
    </div>
</div>
