<div class="home-body">
    
    <div class="for-title">
        <div class="name">AARI</div>
        <div class="sub-name">Institute of Corporate Training <br>& Software Development</div>
            <div class="schedule">
                <button class="btn sch">Schedule Free Demo 
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 18.5" style="margin-left: 1vw;">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                  </svg></button>
                  <button class="btn sch view">View Location 
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 18.5" style="margin-left: 1vw;">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                  </svg></button>
            </div>

        <div class="para">"Start your Coding Career with us & never look back" </div>

        <div class="for-faq">
            FAQ? <input type="text" name="" title="post" placeholder="Shoot your queries here !!" id="" class="form-control faq">
            <button class="btn post">POST</button>
        </div>
    </div>

        <div class="for-login">
            <app-login></app-login>
        </div>
</div>
